<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.thefleet.croperino">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="in.thefleet.croperino.CropImage"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>
</manifest>
